@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    margin: 0px;
    padding: 0px;   

}

.header{
    position: relative;
    width: 100%;
    height: 6vh;    

    border-bottom: 1px solid black;

    font-size: 3vmin;
}

.center1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: absolute;
    width: 25%;
    height: 100%;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: aqua;
}

.headerTitle{
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8vmin;
}
.fancy-text{
    font-family: 'Satisfy', cursive;
}
.btn-outline-success{
    color: darkblue !important;
    border-color: darkblue !important;
}
.btn{
    font-size: inherit !important;
}

.login{
    position: absolute;
    width: 10%;
    right: 0%;

    height: 100%;
    text-align: center;
    background-color: aqua;
}


.searchContainer{
    position: relative;
    height: 18vh;
}

.searchbarGrid{
    position: relative;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 40%;

    display: grid;
    grid-template-columns: 1fr 50fr;

    background-color: white;
    border: 1px solid black;
}

.iconHelper{
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    height: max-content; 

    border-right: 1px solid black;
    margin-right: 1%;
}

.searchBar{
    position: relative;
    width: 99%;
    height: 90%;
    padding: 0px;

    border: none;
    padding-left: 1%;
}
input{
    font-size: 3.8vmin;
}
input:focus{
    outline: none;
}


.resultContainer{
    position: relative;
    background-color: rgb(255, 255, 255);

}

.searchRes{
    position: relative;
    width: 60%;
    min-height: 30%;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 5%;

    border: 1px solid black;
    border-radius: 1rem;

    padding-left: 1%;

    display: grid;
    grid-template-columns: 6fr 1fr;
}



.addPromptB{
    position: relative;
    float: right;
    font-size: 4vmin;

    border: 1px solid black;

    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;

}

.popUpFormBack{
    position: fixed;
    z-index: 10;

    top: 0%;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.708);
}

.popUpForm{
    position: relative;
    width: 50%;
    height: 60%;

    background-color: white;

    left: 50%;
    top: 50%;transform: translate(-50%, -50%);

    font-size: 3vmin;
    text-align: center;
}

.popUpButton{
    float: left; 
    width: 49%;
    border: 1px solid black;
}



.redHover{
    transition-duration: 0.5s;
    cursor: pointer;
}

.redHover:hover{
    color: red;
    text-shadow: 0px 0px 9px rgba(255, 0, 0, 1);
}

.blueHover{
    transition-duration: 0.5s;
    cursor: pointer;
}

.blueHover:hover{
    color: blue;
    text-shadow: 0px 0px 9px rgb(0, 38, 255);
}


.hover1{
    transition-duration: 0.5s;
}

.hover1:hover{
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
}

