body{
    margin: 0px;
    padding: 0px;   

}



.header{
    position: relative;
    width: 100%;
    height: 6vh;    

    border-bottom: 1px solid black;

    font-size: 3vmin;
}

.nav{
    position: absolute;
    width: 25%;
    height: 100%;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: aqua;
}

.headerTitle{
    position: absolute;
    width: max-content;

    left: 50%;
    transform: translateX(-50%);
    font-size: 5vmin;
}

.login{
    position: absolute;
    width: 10%;
    right: 0%;

    height: 100%;
    text-align: center;
    background-color: aqua;
}


.mainbox {
    width: 20vw;
    height: 40vh;
    /*border-style: dotted;
    border-color: black;*/
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;
    left: 5vw;
  }
#titlebox {
    width: 25vw;
    height:5vh;
    border: 1px solid green;
    border-top-width: 2px;
    border-left-width: 2px;
  }
#descbox {
    width: 25vw;
    height:30vh;
    border: 1px solid green;
    border-left-width: 2px;
    border-bottom-width: 2px;
}
#infobox { 
    width: 10vw;
    height:5vh;
    border: 1px solid green;
    border-right-width: 2px;
    border-top-width: 2px;
  }
#imagebox{
    width: 10vw;
    height:25vh;
    border: 1px solid green;
    border-right-width: 2px;
}
#ratingbox{
    width: 10vw;
    height: 4.8vh;
    border: 1px solid green;
    border-right-width: 2px;
    border-bottom-width: 2px;

 }



#projSubmitButton{
    position: absolute;
    right: 0px;

    border: 1px solid black;
    margin-top: 2%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;

    font-size: 3.5vmin;

}



.popUpFormBack{
    position: fixed;
    z-index: 10;

    top: 0%;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.708);
}

.popUpForm{
    position: relative;
    width: 60%;
    height: 70%;

    background-color: white;

    left: 50%;
    top: 50%;transform: translate(-50%, -50%);

    font-size: 3vmin;
    text-align: center;
}

.popUpButton{
    float: left; 
    width: 49%;
    border: 1px solid black;
}


img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }




  #project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 5%;
    font-size: 3.2vmin;
}


  .projProfile {

    position: relative;
    width: 35vw;
    left: 7.5vw;
    height: 50vh;
    top: 5vw;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 1rem;

    text-align: center;

    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }




    .redHover{
        transition-duration: 0.5s;
        cursor: pointer;
    }
    
    .redHover:hover{
        color: red;
        text-shadow: 0px 0px 9px rgba(255, 0, 0, 1);
    }
    
    .blueHover{
        transition-duration: 0.5s;
        cursor: pointer;
    }
    
    .blueHover:hover{
        color: blue;
        text-shadow: 0px 0px 9px rgb(0, 38, 255);
    }


    .center1{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .hover1{
        transition-duration: 0.5s;
    }
    
    .hover1:hover{
        box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
    }