body{
    margin: 0px;
    padding: 0px;   

}



.header{
    position: relative;
    width: 100%;
    height: 6vh;    

    border-bottom: 1px solid black;

    font-size: 3vmin;
}

.nav{
    position: absolute;
    width: 25%;
    height: 100%;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: aqua;
}

.headerTitle{
    position: absolute;
    width: max-content;

    left: 50%;
    transform: translateX(-50%);
    font-size: 5vmin;
}

.login{
    position: absolute;
    width: 10%;
    right: 0%;

    height: 100%;
    text-align: center;
    background-color: aqua;
}


.mainbox {
    width: 40vw;
    height: 35vh;
    
    border-style: dotted;
    border-color: black;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

#titlebox {
    width: 25vw;
    height:10vh;
    border: 5px solid green;
    border-right-width: 0px;
    padding: 5px;
  }

#infobox { 
    width: 13vw;
    height:10vh;
    border: 5px solid green;
    padding: 5px;
  }

#descbox {
    width: 25vw;
    height:20vh;
    border: 5px solid green;
    border-right-width: 0px;
    padding: 5px;
}

.boxcolumn{
    flex-direction: column;
    width: 13vw;
    height: 20vh;
}

#imagebox {
    width: 13vw;
    height: 15vh;
    border: 5px solid blue;
    padding: 5px;
    border-bottom-width: 0;
 }

#ratingbox{
    width: 13vw;
    height: 4vh;
    border: 5px solid blue;
    padding: 5px; 
 }

